<nav role="navigation">


<div id="nav" class="my-fancy-nav-wrapper">
    <ul id="oldNav" class="nav">
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <ul class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></ul>
        {{/foreach}}
        <!-- End the loop -->
        <script src="{{asset "dropdown.js"}}"></script>
    </ul>
    
</div>